body{
    background-color:silver;
}

#title, .subtitle, .post_title{
    color: blue;
}

.post_title{
    font-size: 16px;
    font-style:italic;
}

.post{
    background-color: aliceblue;
    padding: 20px;
    border: 10px solid #000;
    margin: 10px;

}